
*{
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  ---primary-color--: #BED21E;
  --secondary-color--: #005175;
  --backgound2--: #6DB344;
}


/* Estilos y animación para el menú Hamburguesa */
    .burger-line {
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }
    
    /* Cuando el botón tiene la clase 'active', las líneas se transforman en una X */
    .active .line-1 {
      transform: translateY(6px) rotate(45deg);
    }
    .active .line-2 {
      opacity: 0;
    }
    .active .line-3 {
      transform: translateY(-6px) rotate(-45deg);
    }

    /* Animación de entrada para los elementos de la interfaz */
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .animate-fade-in-up {
      animation: fadeInUp 0.6s ease-out forwards;
    }

    

.primary-font{
  color: var(---primary-color--) !important;
}

.secondary-font{
  color: var(--secondary-color--) !important;
}

.official-background-1{
  background-color: var(--secondary-color--) !important;
}

.official-background-2{
  background-color: var(--backgound2--) !important;
}