
:root{
  ---primary-color--: #BED21E;
  --secondary-color--: #005175;
  --backgound2--: #6DB344;
}

.primary-font{
  color: var(---primary-color--) !important;
}

.secondary-font{
  color: var(--secondary-color--) !important;
}

.official-background-1{
  background-color: var(--secondary-color--) !important;
}

.official-background-2{
  background-color: var(--backgound2--) !important;
}